@charset "UTF-8";
*{
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
html,body{
    min-height: 100vh;
    background-color: rgb(211, 211, 211);
}
header{
    background-image: url(../imagen/Oficina\ Mecânica\ Popular.jpg);
    background-repeat: no-repeat;
    background-size: cover ;
    background-position-y: 85%;
    height: 85vh;
}
@media (min-width: 300px) {
    header{
        width: 100%; 
        background-position-x: 80%;  
    }
   
    nav > h1{
    text-align: left;
    color: rgb(255, 255, 255);
    margin: -32px 30px;
    font-size: 1em;
    }
 
}
nav{
   padding: 60px 50px 30px 0px;
   text-align: right;
   background-color: rgba(0, 0, 0, 0.466);
   
}
nav > h1{
    text-align: left;
    color: rgb(255, 255, 255);
    margin: -32px 30px;
    
}
nav >h1:hover{
    color: red;
}
nav > a{
    text-decoration: none;
    color: white;
    padding: 0px 25px;
    font-size: 1.5em;
    transition: 0.3s;
}
nav > a:hover{
    padding: 30px 25px;
    background-color:rgba(0, 0, 0, 0.466);
    border-radius: 15px;
    
}
header > section{
    background-image:linear-gradient( 90deg, rgba(0, 0, 0, 0.705),rgba(0, 0, 0, 0.63), rgba(0, 0, 0, 0.61), rgba(0, 0, 0, 0));
    width:50vw;
    font-size: 3em;
    padding: 25px;
    height: 69.5vh;
    color: white;
}
section > h1{
    position: absolute;
    top: 20%;
    left: 10%;
    
}
section > p{
    position: absolute;
    font-size: 0.9em;
    top: 45%;
    left: 10.5%;
}
section > #marcacao{
    background-color: rgba(9, 255, 0, 0.637);
    position: absolute;
    top: 53%;
    padding: 15px 50px;
    border-radius: 10px;
    color: rgb(0, 0, 0);
    font-weight: bolder;
    font-size: 0.8em;
    margin-left: 180px;
    text-decoration: none;
}
section > #marcacao:hover{
    background-color:rgb(9, 255, 0) ;
    transition: 0.3s;
    box-shadow: black;
}
main > #servicos{
    margin: 60px 0px 0px 0px ;
    text-align: center;
    font-size: 5em;
    text-shadow: 10px 1px 10px  rgba(0, 0, 0, 0.363);
}
main #grade {
    display: flex;
    gap: 40px;
    align-items: center;
    margin: 80px 16.30vw;
    padding: 0px 80px;
    

}
#grade .img{
    padding: 50px 0px 20px 25px;
    height: 110px;
}
#grade #revisao{
    background-color: rgb(255, 255, 255);
    padding: 0px 100px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.274);   
}
#grade #travagem{
    background-color: rgb(255, 255, 255);
    padding: 0px 84px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.274); 
}
#grade #iluminacao{
    background-color: rgb(255, 255, 255);
    padding: 0px 71px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.274); 
}.artigo > p{
    padding: 25px 0px;
    text-align: center;
    font-size: 2em;
}
#grade > a{
    text-decoration: none;
    color: black;
}
#grade >a:hover{
    text-decoration: underline;
    box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.274);
}
main > #fundo{
    background-color: rgb(170, 170, 170);
    width: 100vw;
}
#principal{

    margin:auto;
    width: 100vw;
    background-image: url(../imagen/1769036082147.png);
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center center;
    
    height: 90vh;
}
main > #descricao{
    background-color: white;
    width: 70vw;
    margin: auto;
    padding: 50px 100px;
    border-radius: 0px 0px 15px 15px;
    box-shadow: 5px 5px 15px 4px rgba(0, 0, 0, 0.226);
}
#descricao >h1 {
    font-size: 2.4em;
    text-align: justify;
    
}
#descricao > p{
    font-size: 1.5em;
    text-align: justify;
    padding-bottom: 30px;
    padding-top: 20px;
    line-height: 1.5em;
    text-indent: 30px;
    line-height: 2em;
    
}
ul{
    line-height: 2em;
    padding:20px 120px;
    margin: 0px -100px;
    font-size: 1.5em;
    background-color: rgba(204, 204, 204, 0.664);
    box-shadow: 5px 5px 15px 1px rgba(0, 0, 0, 0.342);
}
h2{
    padding: 15px;
}
footer{
    background-color: black;
    color: white;
    padding: 10px;
    text-align: center;
    margin-top: 80px;
}
